body {
color:black;
background-color:white;

}

body::after {
  content: "";
  background-image:url("https://previews.123rf.com/images/in8finity/in8finity1407/in8finity140700091/29971208-pointill%C3%A9-bleu-carte-du-monde-isol%C3%A9-sur-blanc-vector-illustration.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-size: auto;
  z-index: -1; 
 }

img {
	width: 150px;
	height: auto;
}





