body {
color:black;
background-color:white;
background-image:url("https://previews.123rf.com/images/in8finity/in8finity1407/in8finity140700091/29971208-pointill%C3%A9-bleu-carte-du-monde-isol%C3%A9-sur-blanc-vector-illustration.jpg");
background-position:50% 50%;
}

img {
	width: 150px;
	height: auto;
}

h1 {   
	background-image:url("https://nanocosmo.files.wordpress.com/2016/01/schema_azerty_simple_non-transparent_1800x627.png")
}
	

h2
{
    font-weight: bold;
}
